<% layout("layouts/boilerplate") %>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="razorpay-form">
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="<%= process.env.RAZORPAY_KEY_ID %>"
                    data-amount="<%= amount * 100 %>"
                    data-currency="INR"
                    data-order_id="<%= orderId %>"
                    data-buttontext="Pay Now"
                    data-name="Wanderlust"
                    data-description="Booking Payment"
                    data-prefill.name="<%= firstName %> <%= lastName %>"
                    data-prefill.email="<%= email %>"
                    data-prefill.contact="<%= phoneNumber %>"
                    data-theme.color="#F37254"
                    data-callback_url="/listings"
                    data-redirect="true"
                ></script>
            </form>
        </div>
    </div>
</div>